@import './Vars.styl'

.createList
  .backg
    position: absolute
    opacity: 0.15
    height: 100%
    width: 100%
  .back
    margin-left: 10px
    display: flex
    p
      color: verde
      font-family: Fuente1
      font-weight: 800
      letter-spacing: 2px
    img
      margin-right: 20px 
      border-radius: 50%
      background: titulos
  h1
    margin-left: 30px
    font-size: 80px
    font-family: Fuente2
    color: titulos
    text-shadow: 10px 0px 10px  black
  &__form
    margin-left: 30px 
    display: grid
    grid-template-columns: 800px
    grid-template-rows: repeat(3,120px)
    font-family: Fuente1
    font-size: 40px
    font-weight: 800
    color: verde
    .name-group
      margin-bottom: 30px
    label 
      margin-right: 20px
    input 
      height: 50px
      width: 800px
      border-radius: 10px 
    button 
      margin-top: 20px
      font-family: Fuente2
      font-size: 30px
      color: texto
      height: 80px
      width: 200px
      border-radius: 10px
      background: secundario