@import './Vars.styl'

body
  margin: 0 
  height: 100%
  width: 100%
  background: secundario

.home
  color: titulos 
  img 
    position: absolute
    z-index: 0
    opacity: 0.18
    margin: 0
    height: 100%
    width: 100%
  &__title
    padding-top: 0
    padding-left: 30px
    font-family: Fuente1
    font-weight: 600
    letter-spacing: 5px
    font-size: 150px
    margin: 0
    text-transform: uppercase
    strong
      font-family: Fuente2
      font-weight: 300
      color verde
  &__btns
    padding-top: 0
    padding-left: 30px
    margin-top: 80px 
    h3
      text-transform: uppercase
      color: texto
      font-family: Fuente1
      font-weight: 800
      font-size: 50px
    button
      font-family: Fuente1
      font-weight: 700
      font-size: 40px
      color: verde 
      text-shadow: 0px 0px 0px 5px white
      background: secundario
      height 80px
      width: 300px
      border-radius: 10px 
      border: solid 5px white

.content
  position: relative
  z-index: 2