@import './Vars.styl'

.home
  height: 100vh
  width: 100vw
  padding: 50px
  background: secundario
  color: titulos 
  font-family: Fuente2
  &__title
    font-size: 50px
    margin: 0
    text-transform: uppercase
    strong
      color verde
  &__btns
    h3
      font-size: 30px
    button
      height 40px
      width: 100px