@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Fredoka+One&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Press+Start+2P&display=swap")

global =#241B2F
secundario = #262335
verde = #6DEAA2
titulos = #EA78DB
texto = #F7F5fb

Fuente1='Lato', sans-serif
Fuente2='Oswald', sans-serif